.masthead {
    height: 80vh;
    min-height: 400px;
    background-image: url('images/main-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .masthead h1{
    max-width: 40%;
  }